<div class="nav-wrapper">
    <img class="logo" src="../assets/angular-logo.png" alt="">
    <h1>Tu préstamo</h1 >
    <app-icon-button></app-icon-button>
    <app-navigation-line 
        [style]="{marginLeft: '1em', marginTop: '2em', marginRight: '1em'}"
        [defaultValue]="0"
    >
    </app-navigation-line>
    <div class="margin-wrapper">
        <app-icon-button 
        [buttonColor]="'black'"
        [hasBorder]="false" 
        [symbol]="symbol"
        [symbolColor]="'black'"
        [buttonText]="'Cancelar la financiación'"
        >
        </app-icon-button>
    </div>
</div>
