/* RADIO BUTTON */

.wrapper {
    display: flex;
}

.radio-button{
    position: relative;
    border: 1px solid transparent;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: fit-content;
    border-radius: 5px;
    background-color: #f2f6f6;
    box-shadow: 1px 2px 4px 2px lightgray;
    font-family: 'Calibri', sans-serif;
    font-weight: 100;
    padding: 0.6em;
    margin: 0.4em;
}

.radio-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.radio, .text {
    padding-right:0.6em;
    padding-left:0.6em;
}

.radio-btn {
    accent-color: #3b6e60;
    width: 1.5em;
    height: 1.5em;
}

/* DIV.LIST */

.list{
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;
}
    
.ul-list {
    display: flex;
    flex-direction: column;
}

.list-item {
    display: flex;
    flex-direction: row;
}

.icon{
    margin-right: 0.5em;
    color: #18acb5;
    max-width: 16px;
}

/* DIV.RECOMMENDED */

.recommended {
    top: -15px;
    left: 100px;
    position: absolute;
    background-color: #2cb1b6;
    color: white;
    font-weight: 600;
    height: 30px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.recommended > p {
    padding-left: 0.5em;
    padding-right: 0.5em;
}